header, footer {
    background-color: green;
    color: purple;
    padding: 20px;
    text-align: centre;   
}
body{
    font-family:"Times New Roman";
    background-image:url("https://goo.gl/images/Jte3GA");
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    
}
aside {
    padding-top: 10px;
    font-weight: bold;
}
.page-header {
    color: orange;
}
h1{
    color: lime;
    font-family:"Times New Roman";
    font-size: 50px;
}
img{
    padding: 20px;
}
.underline{
    text-decoration:underline;
}
.page-header{
    background:#98bf21;
    height:150px;
    width:300px
}
.block {
    display: flex;
}