header, footer {
    background-color: green;
    color: purple;
    padding: 20px;
    text-align: centre;   
}
div{
    vertical-align: top;
    display: inline-block;
    width: 500px;
    margin: 0 auto 0 auto;
    background-color: #99CCFF;
    background-size: cover;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
aside {
    padding-top: 10px;
    font-weight: bold;
}
.page-header {
    color: orange;
}