header, footer {
    background-color: green;
    color: purple;
    padding: 20px;
    text-align: centre;   
}
body{
    background-color: #99CCFF;
    font-family:"Times New Roman";
    background-image:url("https://goo.gl/images/Jte3GA");
    
}
aside {
    padding-top: 10px;
    font-weight: bold;
}
.page-header {
    color: orange;
}
hi{
    color: lime;
    font-family:"Times New Roman";
    font-size: 50px
}
img{
    padding: 20px;
}